<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Atividade</h1>
            <p class="text-center lead">Crie a sua atividade</p>

            <div class="row">

                <div class="col-lg">
                    <form action="/atividade/register" method="POST">
                        <div class="form-group">
                            <label for='descricao'>Descreva a sua atividade:</label>
                            <input type="text" class="form-control" name="descricao">
                        </div>
                        <button type="submit" class="btn btn-primary">Criar atividade</button>
                    </form>      

                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>