<div class="container">
    <div class="responsive-table">
        <table class="table my-3">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Atividade</th>
                    <th>Descrição</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% atividades.forEach(atividade => { %>
                    <tr>
                        <td><li></li></td>
                        <td><%= atividade.id %></td>
                        <td><%= atividade.descricao %></td>
                        <td><a class="text-blue" href="/atividade-editar/<%= atividade.id %>">Editar</a></td>
                        <td>
                            <form action="/atividade-delete/<%= atividade.id %>" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn-link text-danger p-0 m-0" style="border: none; cursor: pointer;">Excluir</button>
                            </form> 
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

