<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a href="/" class="text-white h5">Inicio</a> <br>
      <a href="/atividade/register" class="text-white h5">Criar Atividades</a> <br>
      <a href="/atividade-concluida" class="text-white h5">Atividades Concluidas</a> <br> 
      <a href="/atividade-em-andamento" class="text-white h5">Atividades em Andamento</a>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>